
body{
background:#111827;
color:white;
font-family:Arial;
text-align:center;
padding:20px;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:30px;
}

.card{
background:#1f2937;
padding:20px;
border-radius:12px;
width:220px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

canvas{
background:white;
border-radius:10px;
margin:20px auto;
max-width:900px;
}

input{
padding:10px;
width:220px;
margin:10px;
}

button{
padding:10px 20px;
cursor:pointer;
}

table{
width:90%;
margin:auto;
border-collapse:collapse;
background:white;
color:black;
}

table,th,td{
border:1px solid #ccc;
}

th,td{
padding:12px;
}